NODE_ENV=development
PORT=3000
APP_ORIGIN=http://localhost:9000

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=colegio_dev
DB_USER=postgres
DB_PASSWORD=postgres
JWT_SECRET=dev-secret-change-me
JWT_EXPIRES_IN=1d
INITIAL_STUDENT_PASSWORD=Cambiar123
SCHOOL_NAME=Colegio Paraiso Florido 3082
