VITE_API_URL=/api
VITE_ATTENDANCE_EXIT_ENABLED=false

VITE_FIREBASE_API_KEY=REEMPLAZAR_AQUI
VITE_FIREBASE_AUTH_DOMAIN=REEMPLAZAR_AQUI
VITE_FIREBASE_PROJECT_ID=REEMPLAZAR_AQUI
VITE_FIREBASE_STORAGE_BUCKET=REEMPLAZAR_AQUI
VITE_FIREBASE_MESSAGING_SENDER_ID=REEMPLAZAR_AQUI
VITE_FIREBASE_APP_ID=REEMPLAZAR_AQUI
VITE_FIREBASE_VAPID_KEY=REEMPLAZAR_AQUI
